COMPOSE_PROJECT_NAME=fullstack-template

FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3001
BACKEND_NETWORK=backend_laravel-network

DB_DATABASE=test_docker
DB_USERNAME=laravel
DB_PASSWORD=secret
DB_ROOT_PASSWORD=secret

WATCHPACK_POLLING=true
